<template>
  <div id="app">
    <div>
      <label>
        Item:
      </label>
      <input type="text" v-model="item"/>
      <button @click="saveItem()">Add</button>
      <div>
        <ul>
          <li v-for="itemName of items" v-bind:key="itemName['.key']">
            <div v-if="!itemName.edit">
              <p>{{ itemName.item }}</p>
              <button @click="deleteItem(itemName['.key'])">Delete</button>
              <button @click="setEditItem(itemName['.key'])">Edit</button>
            </div>
            <div v-else="">
              <input type="text" v-model="itemName.item"/>
              <button @click="updateItem(itemName)">Update</button>
              <button @click="cancelEdit(itemName['.key'])">Cancel</button>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { itemsRef } from './firebase';
export default {
  data () {
    return {
      item: ''
    }
  },
  firebase: { 
    items: itemsRef

  },
  methods : {
    saveItem(){
      itemsRef.push({ item: this.item, edit: false })
      this.item = '';
    },
    deleteItem(key){
      itemsRef.child(key).remove();
    },
    setEditItem(key){
      itemsRef.child(key).update({ edit: true });
    },
    cancelEdit(key){
      itemsRef.child(key).update({ edit: false });
    },
    updateItem(item){
      const key = item['.key']                     
      itemsRef.child(key).set({ item: item.item, edit: false })
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}

button {
  background:transparent;
  border: 2px solid black;     
}
</style>
